
/* Nur index.html Seite */

/* Farbcodes

primary color: #05003D
secondary color: #FFFFFF

*/

body {
    background-color: #040059;
    color: white;
    margin: 0;
    text-align: center;
}

.myNavbar {
    background-color: none;
    color: white;
    width: 100%;
  }
  .myNavbar .navbar-brand {
    color: white;
  }
  .myNavbar .navbar-nav .nav-link {
    color: white;
  }
  .myNavbar .navbar-nav .nav-item {
    margin-left: 15px;
  }
  .myNavbar .social-media {
    margin-left: auto;
  }
  .myNavbar .navbar-nav {
    flex-direction: row;
  }
  .myNavbar .navbar-nav .nav-item {
    margin-left: 10px;
  }

  .myTextAtIndex {
    margin-top: 15%;
    justify-content: center;
    text-align: center;
  }

  .myHalfText {
    margin-right: 50%;
    color: black;
  }